@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: "Mooli", sans-serif;
}

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
  margin: 0;
  background-color: var(--text-light);
  color: var(--text-dark);
  text-align: center;
}

a:link,
a:visited {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 1em 0;
}

header h1 {
  font-family: var(--secondary-font);
  font-size: 2.5em;
  margin: 0.5em 0;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0.5em 0;
}

footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 1em 0;
  text-align: center;
  font-size: 0.9em;
}

main h2 {
  font-family: var(--secondary-font);
  font-size: 2em;
  margin: 1em 0;
  text-align: center;
}

.gallery {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  padding: 2em;
  justify-items: center;
}

figure {
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: white;
}

img {
  max-width: 100%;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

@media screen and (min-width: 700px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Modal styling for small screens */
.viewer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  align-items: center;
  z-index: 10;
}

.viewer img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.close-viewer {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

/* For larger screens, adjust modal size and increase image dimensions */
@media screen and (min-width: 1000px) {
  .viewer {
    width: 90%;
    height: 90%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.75);
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  .viewer img {
    max-width: 98%;
    max-height: 98%;
    object-fit: contain;
  }
}

.hide {
  display: none;
}
